article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #0f8abd; color: #fff; text-shadow: none; }
::selection { background: #0f8abd; color: #fff; text-shadow: none; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
hr.nl { border-top: 1px dashed #CDCDCD; height: 2px; margin: 0;}
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0; }
ul { list-style: none; }
ol li { padding: 0; margin: 0 15px 15px 20px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }

@media only screen and (min-width: 480px) {  }
@media only screen and (min-width: 768px) {  }
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}


html, body { background-color: #FFF; }
body { font-size:14px; font-family:"Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif; color:#313131; }

a { color:#0F8CBF; outline: none !important; }
a:hover { text-decoration:none; }

strong { font-weight: bold; }
em { font-style: italic; }

h1, h2, h3 { font-weight: bold; text-align:center; }

html { background:#F5F5F5; }
body.default { background:#FFFFFF url('../images/bg_body.gif') repeat-x 0 0; font-family:Arial, serif; font-size:13px; line-height:1.3em; }
#wrapper { margin:0 auto; width:1004px; overflow:hidden; background:url('../images/bg_body.gif') repeat-x }


#header { position:relative; width:992px; height:65px; margin:0 6px; }
#headerSiteTitle { margin:0; text-align: center; }
#headerSiteTitle img { height: 62px; }
#header-site-slogan { font-size:14px; font-style:italic; font-weight:bold; margin:0; padding:0 0 0 10px; }
#header-site-slogan { font-size:14px; font-style:italic; font-weight:bold; margin:0; padding:0 0 0 10px; }
#header-menu { position:absolute; top:8px; right:0px; width: 682px; }
#header-menu ul { padding:0; margin: 15px 0 0 0; float: right;}
#header-menu li { margin:0; padding:0; float:left; position:relative; background:url("../images/top_menu_bg.gif") 0 -40px repeat-x; }
#header-menu li.active, #header-menu li:hover { background-position:0 0; }
#header-menu .header-menu-corner-l, #header-menu .header-menu-corner-r { background:url("../images/top_menu_corner.jpg") no-repeat; width:18px; height:40px; position:absolute; z-index:20; }
#header-menu .header-menu-corner-l { top:0; left:0; background-position:-36px 0; }
#header-menu .header-menu-corner-r { top:0; right:0; background-position:-54px 0; }
#header-menu .active .header-menu-corner-l, #header-menu li:hover .header-menu-corner-l  { background-position:0 0; }
#header-menu .active  .header-menu-corner-r, #header-menu li:hover .header-menu-corner-r { background-position:-18px 0; }
#header-menu li a { display:block; line-height:36px; padding:0 18px; font-family: Verdana, Tahoma, sans-serif; font-size:11px; font-weight:bold; color:#FFFFFF; text-decoration:none; margin:2px 0; border-left:1px solid #217798; border-right:1px solid #79CDEC; position:relative;  z-index:21; }
#header-menu li.first a { border-left:none; }
#header-menu li.last a { border-right:none; }

#mainWrapper { width:100%; background:url("../images/bg_html_rl.png") repeat-y; position:relative; }
#mainWrapper img { height: auto; max-width: 100%; width: auto; }
#main { width:956px; background:#FFFFFF; position:relative; right: -6px; padding: 20px 18px;}
#mainTop, #mainBottom, #mainTopLeft, #mainTopRight, #mainBottomLeft, #mainBottomRight { position:absolute; }
#mainTop, #mainBottom, #mainTopLeft, #mainTopRight, #mainBottomLeft, #mainBottomRight { background:url("../images/bg_html.png") no-repeat; height:6px; width:6px; }
#mainTop, #mainBottom { background-repeat:repeat-x; width:992px; }
#mainTop { background-position:0 -29px; top:-6px; left:6px;; z-index:20; }
#mainTopLeft { background-position:0 1px; top:-6px; left:0; z-index:21; }
#mainTopRight { background-position:-24px 1px; top:-6px; right:0; z-index:21; }
#mainBottom { background-position:0 -36px; bottom:-6px; left:6px; z-index:20; }
#mainBottomLeft { background-position:0 -25px; bottom:-6px; left:0; z-index:21; }
#mainBottomRight { background-position:-24px -25px; bottom:-6px; right:0; z-index:21; }

.form-button { color:#FFF; width:93px; text-align:center; height:35px; font-weight:bold; border:1px solid #B7B7B7; background:#555555 url('../images/bg-btn.gif') repeat-x; cursor:pointer; }
.form-button.disabled {cursor: default; opacity: 0.5; filter: alpha('opacity=50%');}


.h-head { margin-top:0; }
h2.h-head { font-size:18px; background:#E6E6E6 url("../images/bg-h2.gif") repeat-x; line-height:30px; padding-left:7px; font-weight:normal; margin-bottom:3px; }

#footer { width:992px; margin-left:6px; clear:both; }
#footerMenu, #rightBlock { margin:30px 0 10px; }
#footerMenu { width:600px; float:left; }
#rightBlock { width: 200px; float: right; text-align: right;}
#footer, #footer a, #footer a { text-decoration:none; color:#737373; font-size:12px; font-family:Veranda, sans-serif, serif; }
#footer a:hover, #footer-sign a:hover { text-decoration:underline; color: #0F8CBF; }
.footer-menu-separator { padding:0 5px; color: silver; }
#rightBlock .sm {background: transparent url("../images/sm.png") no-repeat 0 0; display: block; width: 18px; height: 18px; float: right; margin-left: 8px;}
#rightBlock .tw { background-position: 0 0; margin-left: 12px;}
#rightBlock .fb { background-position: 0 -23px; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.page-box-button { text-align:center; margin-top:10px; margin-bottom: 10px; }
#mainPageContent {width: 100%;}
#mainPageContent a {text-decoration: none;}
#mainPageContent a:hover {text-decoration: underline;}
.content-header {background: none; margin-top: 10px; margin-bottom: 10px; text-align: center; font-size: 15px; font-weight: normal;}
#periodsHeader {padding-right: 7px; border-bottom: 1px dashed #CDCDCD;}
.description-header {font-size: 0.8em; float:right;}
.line {margin-top: 3px; border-bottom: 1px dashed #CDCDCD;}
#text {padding: 5px; resize: none;}
#text.no-change {background-color: #eee;}
.result-info {width: 630px; min-height: 20px; margin: 10px auto; text-align: center; color: #313131;}
.result-info.error {color: #f00;}
#processResult table {width: 100%; margin: 0 auto;}
#processResult table td {padding: 5px 0; border: 1px solid #aaa; text-align: left;}
#textLength { position: absolute; left: 35px; font-size: xx-small; white-space: nowrap; cursor: default; }
#textLength.max-inputtext-length { color: red; } 

ul.main-link-list { list-style: square; }
ul.main-link-list li { margin-bottom: 10px; }


/* Let's get this party started */
#descriptionDiv::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #ccc/*rgba(255,0,0,0.8)*/; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #eee/*rgba(255,0,0,0.4)*/; 
}

/*
#descriptionDiv::-webkit-scrollbar {
    width: 0.7em;
    height: 0.7em;
}
#descriptionDiv::-webkit-scrollbar-button {
    background: #ccc;
}
#descriptionDiv::-webkit-scrollbar-track-piece {
    background: #888;
}
#descriptionDiv::-webkit-scrollbar-thumb {
    background: #eee;
}
*/