<?xml version="1.0"?>
<configuration>
  
  <appSettings>
    <add key="CONCURRENT_FACTORY_INSTANCE_COUNT"   value="2" />
    <add key="MAX_INPUTTEXT_LENGTH"                value="10000" />
    <add key="SAME_IP_INTERVAL_REQUEST_IN_SECONDS" value="10"/>
    <add key="SAME_IP_MAX_REQUEST_IN_INTERVAL"     value="3"/>
    <add key="SAME_IP_BANNED_INTERVAL_IN_SECONDS"  value="120"/>

    <add key="URL_DETECTOR_RESOURCES_XML_FILENAME"  value="[resources]/url-detector-resources.xml"       />
    <add key="SENT_SPLITTER_RESOURCES_XML_FILENAME" value="[resources]/sent-splitter-resources.xml"      />
    <add key="TOKENIZER_RESOURCES_XML_FILENAME"     value="[resources]/crfsuite-tokenizer-resources.xml" />
    <add key="NER_TEMPLATE_FILENAME"                value="[resources]/templateNER.txt"                  />
    <add key="NER_MODEL_FILENAME"                   value="[resources]/model_pa_(minfreq-1)_ru"          />
    <add key="LANGUAGE_TYPE"                        value="Ru" /> <!-- {Ru, En} -->
  </appSettings>
  
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="false" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>

    <customErrors mode="Off" />
    <httpRuntime requestValidationMode="2.0" maxRequestLength="99999999" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>