<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CONCURRENT_FACTORY_INSTANCE_COUNT"   value="2" />
    <add key="MAX_INPUTTEXT_LENGTH"                value="10000" />
    
    <add key="SAME_IP_INTERVAL_REQUEST_IN_SECONDS" value="15"/>
    <add key="SAME_IP_MAX_REQUEST_IN_INTERVAL"     value="10"/>
    <add key="SAME_IP_BANNED_INTERVAL_IN_SECONDS"  value="120"/>

    <add key="URL_DETECTOR_RESOURCES_XML_FILENAME"  value="../[resources]/url-detector-resources.xml"       />
    <add key="SENT_SPLITTER_RESOURCES_XML_FILENAME" value="../[resources]/sent-splitter-resources.xml"      />
    <add key="TOKENIZER_RESOURCES_XML_FILENAME"     value="../[resources]/crfsuite-tokenizer-resources.xml" />
    <add key="NER_TEMPLATE_FILENAME"                value="../[resources]/template__ner.txt"                />
    <add key="NER_MODEL_FILENAME"                   value="../[resources]/model_pa_(minfreq-1)_ru.crf"      />
  </appSettings>

  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="bin\IISSupport\VSIISExeLauncher.exe" arguments="-argFile IISExeLauncherArgs.txt" stdoutLogEnabled="false" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>