<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="URL_DETECTOR_RESOURCES_XML_FILENAME"  value="../../ner_ru.web.demo/[resources]/url-detector-resources.xml"       />
    <add key="SENT_SPLITTER_RESOURCES_XML_FILENAME" value="../../ner_ru.web.demo/[resources]/sent-splitter-resources.xml"      />
    <add key="TOKENIZER_RESOURCES_XML_FILENAME"     value="../../ner_ru.web.demo/[resources]/crfsuite-tokenizer-resources.xml" />
    <add key="NER_TEMPLATE_FILENAME"                value="../../ner_ru.web.demo/[resources]/templateNER.txt"                  />
    <add key="NER_MODEL_FILENAME"                   value="../../ner_ru.web.demo/[resources]/model_pa_(minfreq-1)_ru"          />
    <add key="LANGUAGE_TYPE"                        value="Ru" /> <!-- {Ru, En} --> 
  </appSettings>

</configuration>